a:link    { text-decoration: none; color: darkblue; }
a:visited { text-decoration: none; color: darkblue; }
a:active  { text-decoration: underline; color: blue; }
a:hover   { text-decoration: underline; color: blue; }
td { font-size: 8pt; 
	}
th { font-size: 8pt; 
	 font-weight: bold; 
	 text-align: left; 
	 background: lightgrey;
	 color: darkblue;
	 background: lightgrey;
	 }
div {
	 font-family:"Verdana";
	}
BODY {
	background: white;
	color: black;
	font-family:"Tahoma";
	font-size:8pt;
	margin-top: 5px;	
}
